<h3>Your User Details:</h3>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Position: <%= @user.position %></p>
<h3>Your Experiments:</h3>
<%= render @user.experiments %>

<p><%= image_tag 'young-scientist-2.jpg' %></p>
