<table>
  <tr>
    <td><%= form.label :title %></td>
    <td><%= form.text_field :title %>
  </tr>
  <tr>
    <td><%= form.label :hypothesis %></td>
    <td><%= form.text_field :hypothesis %></td>
  </tr>
  <tr>
    <td><%= form.label :description %></td>
    <td><%= form.text_area :description, size: "30x5" %></td>
  </tr>
  <tr>
    <td><%= form.label :start_date %></td>
    <td><%= form.date_field :start_date %></td>
  </tr>
  <tr>
    <td><%= form.label :end_date %></td>
    <td><%= form.date_field :end_date %></td>
  </tr>
  <tr>
    <td><%= form.label :lab %></td>
    <td><%= form.collection_select :lab_id, Lab.all, :id, :name %></td>
  </tr>
  <tr>
    <td><%= form.label :allotted_time %></td>
    <td><%= form.number_field :allotted_time, :step => 0.5 %></td>
  </tr>
  <tr>
    <td><%= form.label :conclusion %></td>
    <td><%= form.text_area :conclusion, size: "30x5" %></td>
  </tr>
  <tr>
    <td><%= form.label :status %></td>
    <td><%= form.select :status, Experiment.valid_statuses %></td>
  </tr>
</table>
