<h3>Details for Experiment: <%= @experiment.title %></h3>
<h4>Description:</h4>
<p><%= @experiment.description %></p>
<h4>Hypothesis:</h4>
<p><%= @experiment.hypothesis %></p>
<% if @experiment.completed? %>
  <h4>Conclusion:</h4>
  <p><%= @experiment.conclusion %></p>
<% end %>
<h4>Start Date:</h4>
<p><%= @experiment.start_date %></p>
<h4>End Date:</h4>
<p><%= @experiment.end_date %></p>
<h4>Hours allotted: </h4>
<p><%= @experiment.allotted_time %></p>
<h4>Hours left: </h4>
<p><%= @experiment.hours_left %></p>
<h4>Faculty Member:</h4>
<p><%= @experiment.owner.name %></p>
<h4>Lab:</h4>
<p><%= @experiment.lab.name %></p>
<h4>Procedures:</h4>
<%= render @experiment.procedures %>
<% if current_user.faculty? && current_user.experiments.include?(@experiment) %>
  <p><%= link_to "Edit Experiment", edit_experiment_path(@experiment) %> | <%= link_to "Add procedure", new_experiment_procedure_path(@experiment) %></p>
<% elsif !current_user.faculty? && !@experiment.starred_staff.include?(current_user) %>
  <%= link_to "Star this experiment", star_path(@experiment), method: :post %>
<% elsif @experiment.starred_staff.include?(current_user)%>
  <p>You have starred this experiment!</p>
<% end %>

<% if current_user.id == @experiment.owner_id %>
  <h4>Assign Staff:</h4>
    <p>Staff who have starred this experiment</p>
    <%= form_for @experiment, url: assign_path, method: "post" do |form| %>
      <%= form.collection_select :staffs, @experiment.starred_staff - @experiment.assigned_staff, :id, :name  %>
      <%= form.submit "Add staff member" %>
    <% end %>
    <p>Staff</p>
    <%= form_for @experiment, url: assign_path, method: "post" do |form| %>
      <%= form.collection_select :staffs, User.not_assigned_to_experiment(@experiment), :id, :name  %>
      <%= form.submit "Add staff member" %>
    <% end %>
  <h4>Assigned Staff:</h4>
  <ul>
    <% @experiment.staffs_experiments.where(assigned: true).each do |staff| %>
      <li>
        <%= User.find(staff.staff_id).name %>
      </li>
    <% end %>
  </ul>
<% end %>
