<h3>Procedure for experiment <%= @procedure.experiment.title %></h3>
Instructions:
<p><%= @procedure.instructions %></p>
<%= link_to "Edit procedure", edit_procedure_path(@procedure) %>
<%= link_to "Delete procedure", @procedure, method: delete %>
<%= link_to "Back to experiment", @procedure.experiment %>
