
<h2><%= @lab.name %></h2>
<p><%= @lab.location %></p>
<% if current_user.position == "faculty" %>
  <p>Alotted time: <%= @lab.allotted_time %> hours</p>
  <p>Available time: <%= @lab.remaining_time %> hours</p>
<% end %>

<h2>Experiments: <h2>

<%= render @lab.experiments %>
