<!DOCTYPE html>
<html>
<head>
  <title>University Research</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <% if logged_in? %>
      <span>Welcome, <%= current_user.name %>!</span>
      <%= link_to "Users", users_path %>
      <%= link_to "Experiments", experiments_path %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Sign out", logout_path, method: "delete" %>
    <% else %>
      <h1>University Research</h1>
    <% end %>
  </nav>
</header>
<body>

<%= yield %>

</body>
</html>
