<!DOCTYPE html>
<html>
<head>
  <title>University Research</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <% if logged_in? %>
      <%= link_to "Sign out", logout_path, method: "delete" %>
      <h3>Welcome, <%= current_user.name %>!</h3>
    <% else %>
      <h1>Placeholder</h1>
    <% end %>
  </nav>
</header>
<body>

<%= yield %>

</body>
</html>
